@charset "UTF-8";
div {
  background-color: rgba(31, 31, 176, 0.895);
  width: 300px;
  height: 70px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
div > span {
  display: none;
}
div:hover > span {
  display: block;
  color: rgba(180, 180, 34, 0.984);
}
h1 {
  margin-top: 10px;
  margin-left: 40px;
  text-align: center;
}
#du {
  display: block;
  background-color: #37a0b8;
  width: 9px;
  height: 27px;
  margin-left: -27px;
  margin-top: -30px;
  border-radius: 4px;
}
