@charset "UTF-8";
.container {
  display: grid;
  grid-template: repeat(3, 100px) / repeat(4, 1fr);
  border: 2px solid black;
  gap: 2px;
  width: 600px;
  margin: auto;
}
.caixa1 {
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: aqua;
  padding: 10px;
}
.caixa2 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: -1;
  background-color: brown;
}
.caixa3 {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: -1;
  background-color: rebeccapurple;
}
a {
  display: block;
  padding: 10px;
}
