@charset "UTF-8";
* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: linear-gradient(to right, #714575, #aa3eb5);
}
main {
  background-color: white;
  box-shadow: 5px 5px 10px #452a47a9;
  width: 700px;
  padding: 15px;
  margin: auto;
  border-radius: 4px;
}
h1 {
  color: #64b81b;
  text-align: center;
}
h2 {
  color: #4d7b26;
  margin-left: 10px;
  font-weight: bold;
}
p {
  text-align: justify;
  text-indent: 30px;
}
span {
  display: block;
  width: 200px;
  height: 3px;
  background-color: #452a47a9;
}
a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #452a47a9;
  text-transform: capitalize;
}
a:hover {
  color: #281229a9;
}
